<% include ./partials/head.ejs%>
<% include ./partials/navBar.ejs%>

  <div id='root'></div>

    <script type='text/javascript'>
      var dataFromServer =<%-JSON.stringify({'movies': movies, 'user': user})%>
    </script>

<% include ./partials/footReact.ejs%>
