<% include ./partials/head.ejs%>
<% include ./partials/navBar.ejs%>

  <div id='root'></div>
    <script type='text/javascript'>
      var moviesFromServer =<%-JSON.stringify(movies)%>
    </script>

<% include ./partials/footReact.ejs%>
