<% include head.ejs%>
<% include navBar.ejs%>

    <div id='root'></div>
    <script type='text/javascript'>
      var moviesFromServer =<%-JSON.stringify(movies)%>
    </script>

<% include footReact.ejs%>
