<% include ./partials/head.ejs%>

    <div className="loginBox col-sm-4 col-sm-offset-6">
      <br/>
        <h1>Welcome to Premiere - Your Home for Movie Search, Discover, and Tracking of Upcoming Releases</h1>

        <!-- <% if (message.length) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <script>
        tmdb.call('/discover/movie', {
          "query":  "indiana jones"
        }, (data)=>{console.log(data)}, (error)=>{console.log(error)})</script>
        <! LOGIN FORM -->
        <!-- <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form> -->


        <!-- <button>SEND API CALL</button> -->
        <div style='outline: solid thick; text-align: center;'>
            <!-- Or login with any of the following services:<br /> -->
            <a className='loginIcons' href="/auth/facebook"><img src="/assets/fb-logo.png" />&nbsp Facebook Login</a>
            &nbsp&nbsp&nbsp&nbsp
            <a className='loginIcons' href="/auth/google"><img style="width:29px" src="/assets/google-logo.png" />&nbsp Google Login</a>
            <!-- <a style="margin-left:15px" href="/auth/twitter"><img style="width:48px" src="/assets/twitter-logo.png" /></a> -->
        </div>
        <hr>


        <!-- <p>Need to sign up for an account? <a href="/signup">Signup</a></p> -->
        <!-- <p><a href="/">home</a></p> -->

    </div>

<% include ./partials/foot.ejs%>
