<% include ./partials/head.ejs%>
<% include ./partials/navBar.ejs%>

  <div id='profile'></div>
    <script type='text/javascript'>
      var userFromServer =<%-JSON.stringify(user)%>
    </script>

<% include ./partials/footReact.ejs%>
