
<div id='profile'></div>
  <script type='text/javascript'>
    var userFromServer =<%-JSON.stringify(user)%>
  </script>

<!-- //setup server and reactRouter to send static files
//and route on the client side
//or server side react router?
//or if statements in index.ejs? -->
