body {
  font-family: 'Roboto', sans-serif;
  padding-top:80px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  margin: 0px;
  background-image: url('assets/bg2.jpg');
  background-size: 100%;
  /*background-attachment: fixed;*/
}

.root {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}

tbody {
  border: 1px solid grey;
}
::-webkit-scrollbar {
    display: none;
}

h4 {
  color: rgba(0, 0, 0, 0.54);
}

.loginIcons {
  margin-right:15px;
}

.iconSize {
  width:29px;
  height:29px;
}

.muiThemeProvider {
  display: 'flex';
  flex-direction: 'row';
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.searchRow {
  display: 'flex';
  padding-top: 20px;
  flexDirection: 'row';
  flexWrap: 'nowrap';
  justifyContent: 'space-between';
  alignItems: 'center';
  paddingBottom: '15px';
}

.searchCol {
  display: 'flex';
  flexDirection: 'column';
  flexWrap: 'nowrap';
}

.buttonSearch {
  display: 'flex';
  padding-top: 5px;
  border-radius: 25px;
}

.sortLabel {
  display: 'flex';
  padding-top: 20px;
  text-align: 'right';
}

.noPad {
  padding: 0 0 0 0;
}

.padLeft {
  paddingLeft: '30px';
}

/*.gridList {
  width: 200;
  height: 200;
  overflowY: 'auto';
}*/

div.box-sizing {
  height: '260px';
}

img.imgResultItem {
  /*height: 100%;*/
  width: 100%;
}

.titleStyle {
  color: 'rgb(0, 188, 212)';
}

.gridRoot {
  display: 'flex';
  flex-wrap: 'nowrap';
  justify-content: 'space-around';
  background-color: rgba(200, 200, 200, .8 );
  padding-left: 25px;
  padding-right: 25px;
  border: 3px solid #60FFF9;
  border-radius: 10px;
  box-shadow: 9px 9px 7px rgba(0,0,0,0.3);
  height: auto;
  padding-bottom: 20px;
}

.loginBox {
  position: center;
  background-color: purple;
  height: 100px;
  width: 100px;
}

.followRoot {
  display: 'flex';
  flexWrap: 'wrap';
  justifyContent: 'space-around';
}

.followingList {
  display: 'flex';
  flexWrap: 'nowrap';
  overflowX: 'auto';
}

.resultsRoot {
  flexGrow: 2;
  flexBasis: '67%';
}

.resultsInner {
  height: '87%';
  /*overflowY: 'scroll';*/
}

.toolBar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,ffffff+46,7db9e8+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,22f4dc+100 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00d2e5+0,00afc6+100 */
  background: rgb(0,210,229); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0,210,229,1) 0%, rgba(0,175,198,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,210,229,1) 0%,rgba(0,175,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,210,229,1) 0%,rgba(0,175,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d2e5', endColorstr='#00afc6',GradientType=0 ); /* IE6-9 */
    border-radius: 10px;
}

.toolBarGroupFirst {
  padding: '0 10px 0 10px';
}

.toolBarGroupLast {
  display: 'flex';
  flex-direction: 'row';
  padding-right: 15px;
  align-items: 'center';
}

.raisedButton {
  border-radius: 25px;
  margin-right: 3px;
}

.toolBarPadding {
  padding-right: '30px';
}

.stepper {
  width: '100%';
  maxWidth: 700;
  margin: 'auto';
}

.buttonOuter {
  border-radius: 25px;
  marginTop: 12;
}

.flatButton {
  border-radius: 25px;
  marginRight: 12;
}

.demoVideo {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.vod {
  display: flex;
  justify-content: center;
}

.follow {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.toggle {
  marginBottom: 16;
}

.searchfilter-container {
  display: 'flex';
  flex-direction: 'column';
  width: '100%';
  height: '100%';
}

.searchfilter-child {
  display: 'inline-block';
  width: 50%;
}

.floatButton {
  border-radius: 25px;
  margin-right: 20;
}

.outline {
  border: 1px solid grey;
  width: 25%
}

.top {

}
